				<div class="violet-about">
                    <h4 class="v-section-tit">About MmagicBox</h4>
                    <article class="violet-about-det">
                        <p id="J_myFace" class="v-my-face"><img src="/images/face/iampizn-1.png" alt="Hello MmagicBox!" width="146px" height="100px" id="J_myFace_img" /><span>Face to Face!</span></p>
                        <p>混迹于互联网的<strong>MmagicBox</strong>。</p>
                        <p>专注于移动互联网开发。</p>
                    </article>
                    <p class="v-more-right">
                        <a href="http://www.zhanxin.info/contact.html"><span>&#10149;</span>More</a>
                    </p>
                </div><!-- //violet-about -->